.footer-bg {
    background-color: rgb(28, 28, 28);
}

.footer-text {
    color: #727272;
    font-weight: 600;
}

.copyright {
    color: #727272;
    font-weight: 600;
}

.footer-text:hover{
    color: #f05942;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
}